<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-7">

            <div class="form-group">
                <div class="row">
                    <div class="col-10">
                        <input type="text" class="form-control" [(ngModel)]="movServ.setSearchQuery" (input)="resetSearch()" #squery>
                        <p class="text-danger mt-2">{{searchText}}</p>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary w-100" (click)="getSearch(squery)"> <i class="fas fa-search"></i></button>
                    </div>
                </div>

            </div>
            <app-movies-list></app-movies-list>
        </div>
        <div class="col-md-5">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>