<div class="container">
    <div class="row justify-content-center ">
        <div class="shadow-lg col-xs-12 col-md-6 col-md-offset-3 mt-4 p-4">
            <h4 [ngStyle] = "movServe.setFontColor()">Signup</h4>
            <hr>
            <form (ngSubmit)="createuser(f)" #f="ngForm">
                <div class="alert alert-danger" *ngIf="error">
                    <p>{{ error }}</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="fname">First Name</label>
                            <input name="fname" id="fname" type="text" class="form-control"
                                placeholder="Enter your First Name" ngModel required #fname="ngModel">
                            <small class="text-danger" *ngIf="fname.touched && !fname.value">Please enter frist
                                name</small>

                        </div>

                        <div class="col-6">
                            <label for="lname">Last Name</label>
                            <input name="lname" id="lname" type="text" class="form-control"
                                placeholder="Enter your Last Name" ngModel required #lname="ngModel">
                            <small class="text-danger" *ngIf="lname.touched && !lname.value">Please enter last
                                name</small>
                        </div>


                    </div>


                </div>
                <div class="form-group">
                    <label for="email" class="text-dark">E-Mail</label>
                    <input name="email" id="email" type="text" class="form-control" placeholder="Enter your Email"
                        ngModel required email #email="ngModel">
                    <small class="text-danger" *ngIf="email.touched && !email.valid">Please enter valid email</small>
                </div>

                <div class="form-group">
                    <label for="password" class="text-dark">Password</label>
                    <input name="password" id="password" type="text" class="form-control"
                        placeholder="Enter your Password" ngModel password required minlength="8"
                        pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s)(?=.*[!#$%&'()*+,-/:=>?@\^_`{|}~]).{8,12}$"
                        #pass="ngModel">

                    <small class="text-danger" *ngIf="pass.touched && !pass.valid && pass.value.length > 0">Enter
                        atleast 8 to 12 charecters, one special charecter and a number.</small>
                    <small class="text-danger" *ngIf="pass.touched && pass.value.length == 0">Please enter
                        password</small>
                </div>
                <div class="form-group">
                    <label for="cpass" class="text-dark">Confirm password</label>
                    <input name="conf-password" id="cpass" type="text" class="form-control"
                        placeholder="Confirm your Password" ngModel password required #cpass="ngModel">
                    <small class="text-danger" *ngIf="cpass.touched && !cpass.valid">Please confirm password.</small>
                </div>
                <div class="form-group text-right">
                    <button routerLink="/login" type="button" class="btn btn-default " [ngStyle] = "movServe.setFontColor()">Already have an
                        account?</button>
                    <button type="submit" class="btn " [ngStyle] = "movServe.setBgFontColor()" [disabled]="!f.valid">Signup <i
                            class="fas fa-user-plus"></i></button>
                </div>
            </form>
        </div>
       
    </div>


</div>