.my-form{
    margin:20px; 
    width:50%; 
    position: relative; 
    left:50%;
    transform: translateX(-50%);
    border-radius: 8px;
}

.my-link{
    cursor: pointer;
}

input.ng-invalid.ng-touched {
    border-color: rgb(255, 32, 32);
}