.m-body{
    width: 100%;
}

.fzf{
    text-align: center;
    font-size: 250px;
    font-weight: 8;
    color: rgb(173, 173, 173);
}

.msg{
    text-align: center;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%,-100%);
    font-size: 50px;
    font-weight: 8;
    padding: 5px 30px;
    color: rgb(173, 173, 173);
    background: rgb(241, 241, 241);
}

@media screen and (max-width: 720px){
    .fzf{
        font-size: 100px;
    }

    .msg{
        font-size: 20px;

    }
}