<div class="container">
    <div class="row justify-content-center ">
        <div class="shadow-lg col-xs-12 col-md-6 col-md-offset-3 text-white mt-4 p-4">
            <h4 [ngStyle] = "movServe.setFontColor()">Login</h4>
            <hr>
            <form (ngSubmit)="validater(f)" #f="ngForm">
                <div class="alert alert-danger" *ngIf="error">
                    <p>{{ error }}</p>
                </div>
                <div class="form-group">
                    <label for="email" class="text-dark">E-Mail</label>
                    <input name="email" id="email" type="text" class="form-control" placeholder="Enter your Email"
                        ngModel required email #email="ngModel">
                    <small class="text-danger" *ngIf="email.touched && !email.valid">Please enter valid email</small>
                </div>
                <div class="form-group">
                    <label for="password" class="text-dark">Password</label>
                    <input name="password" id="password" type="text" class="form-control"
                        placeholder="Enter your Password" ngModel password required #pass="ngModel">
                    <small class="text-danger" *ngIf="pass.touched && !pass.valid">Please enter password</small>
                </div>
                <div class="form-group text-right">
                    <button routerLink="/signup" [ngStyle] = "movServe.setFontColor()" type="button" class="btn btn-default">Create
                        account?</button>
                    <button type="submit" class="btn " [ngStyle] = "movServe.setBgFontColor()" [disabled]="!f.valid">Login <i class="fas fa-sign-in-alt"></i></button>
                </div>
            </form>
        </div>
        
    </div>


</div>