.clr1{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr2{
    float: left;
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr3{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr4{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr5{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr6{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr7{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr8{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr9{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr10{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr11{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.clr12{
    float: left;
    width: 30%;
    height: 100px;
    margin: 1.6%;
    cursor: pointer;
}

.sd{
    color:rgba(98, 0, 120, 0.5)
}

.check-ic{
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
}




