<div class="container">
    <div class="mt-4">
        <h3 [ngStyle]="movServ.setFontColor()">Color Themes : </h3>
        <hr>
        <div class="clr1"  id="cid0" (click)="setCol(0)" [ngStyle]="setStyle(0)">
            <p class="check-ic" *ngIf="selected[0]"><i class="fas fa-check" style="text-align: center"></i></p>
            
        </div>
        <div class="clr2"  id="cid1" (click)="setCol(1)" [ngStyle]="setStyle(1)">
            <p class="check-ic" *ngIf="selected[1]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
        <div class="clr3" id="cid2" (click)="setCol(2)" [ngStyle]="setStyle(2)">
            <p class="check-ic" *ngIf="selected[2]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
        <div class="clr4" id="cid3" (click)="setCol(3)" [ngStyle]="setStyle(3)">
            <p class="check-ic" *ngIf="selected[3]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
        <div class="clr5" id="cid4" (click)="setCol(4)" [ngStyle]="setStyle(4)">
            <p class="check-ic" *ngIf="selected[4]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
        <div class="clr6" id="cid5" (click)="setCol(5)" [ngStyle]="setStyle(5)">
            <p class="check-ic" *ngIf="selected[5]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
        <div class="clr7" id="cid6" (click)="setCol(6)" [ngStyle]="setStyle(6)">
            <p class="check-ic" *ngIf="selected[6]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
        <div class="clr8" id="cid7" (click)="setCol(7)" [ngStyle]="setStyle(7)">
            <p class="check-ic" *ngIf="selected[7]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
        <div class="clr9" id="cid8" (click)="setCol(8)" [ngStyle]="setStyle(8)">
            <p class="check-ic" *ngIf="selected[8]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
        <div class="clr10" id="cid9" (click)="setCol(9)" [ngStyle]="setStyle(9)">
            <p class="check-ic" *ngIf="selected[9]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
        <div class="clr11" id="cid10" (click)="setCol(10)" [ngStyle]="setStyle(10)">
            <p class="check-ic" *ngIf="selected[10]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
        <div class="clr12" id="cid11" (click)="setCol(11)" [ngStyle]="setStyle(11)">
            <p class="check-ic" *ngIf="selected[11]"><i class="fas fa-check" style="text-align: center"></i></p>
        </div>
    </div>
</div>

<script>
    
</script>