<div class="container-fluid" id="review">
    <div class="row">
        <div class="card">
            <img [src]="movieObj['imageUrl']" alt="" class="card-img-top">
            <div class="card-body">
                <h2 class="card-titel">{{ movieObj["name"] }}</h2>
                <hr class="my-2">
                <div>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <button class="btn  mt-4 mb-4 text-white" [ngStyle] = "movServ.setBG()"   (click)="showRating()">
                                <i class="fas fa-star"> </i>
                                Rating : {{ movRating.toFixed(1) }}</button>
                            <div class="ratings" *ngIf="showStars">
                                <i class="fas fa-star fa-2x star1" (click)="gotRating(0)" style="cursor: pointer"
                                    [ngStyle]="starColor[0]"></i>
                                <i class="fas fa-star fa-2x star2" (click)="gotRating(1)" style="cursor: pointer"
                                    [ngStyle]="starColor[1]"></i>
                                <i class="fas fa-star fa-2x star3" (click)="gotRating(2)" style="cursor: pointer"
                                    [ngStyle]="starColor[2]"></i>
                                <i class="fas fa-star fa-2x star4" (click)="gotRating(3)" style="cursor: pointer"
                                    [ngStyle]="starColor[3]"></i>
                                <i class="fas fa-star fa-2x star5" (click)="gotRating(4)" style="cursor: pointer"
                                    [ngStyle]="starColor[4]"></i>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center">
                            <div class="m-4 text-center d-inline-block" style="cursor: pointer;">
                                <i class="fas fa-thumbs-up fa-2x" (click)="onLike()" [ngStyle]="ldStyle(2)"></i>
                                <p class="m-2"> {{ likes }} </p>
                            </div>

                            <div class=" m-4 text-center d-inline-block" style="cursor: pointer;">
                                <i class="fas fa-thumbs-down fa-2x" (click)="onDisLike()" [ngStyle]="ldStyle(1)"></i>
                                <p class="m-2"> {{ dislikes }} </p>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="clearfix"></div>
                <hr class="m-2">
                <p class="card-text " style="color:rgb(148, 148, 148)">
                    {{ "Posted date : "+movieObj["date"].slice(0,10) }}</p>

                <p class="card-text " style="color:rgb(148, 148, 148)">{{ "Reviewer : "+movReviewrName }}</p>

                <hr class="m-2">
                <p class="card-text" style="word-spacing: 5px;
                line-height: 30px;">{{ movieObj["info"] }}</p>

                <hr class="m-2">
                <p class="card-text" style="word-spacing: 5px;
                line-height: 30px;">{{ movieObj["review"] }}</p>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>