<nav class="navbar navbar-expand-lg navbar-dark " [ngStyle]="movServe.setBG()">
    <div class="navbar-header" routerLink="/" style="cursor: pointer; outline:none">
        <div class="navbar-brand">H4R5 Movies</div>
    </div>

    <button class="navbar-toggler tog-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home</a></li>
            <li class="nav-item" *ngIf="userServ.currentStatus=='Online'" routerLinkActive="active">
                <a class="nav-link"
                    routerLink="/add-movie">Add Review</a></li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/themes">Themes</a></li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/about">About us</a></li>
                {{attrAdder()}}
        </ul>
        <hr>
        <div *ngIf="userServ.currentStatus=='Offline'">
            <button class="btn btn-default text-white" routerLink="/login" data-toggle="collapse"
                data-target="#navbarSupportedContent">Login <i class="fas fa-sign-in-alt"></i></button>
            <span class="text-white"> | </span>
            <button class="btn btn-default text-white" routerLink="/signup" data-toggle="collapse"
                data-target="#navbarSupportedContent">Signup <i class="fas fa-user-plus"></i></button>
        </div>
        <div *ngIf="userServ.currentStatus=='Online'">
            <button class="btn btn-default text-white" (click)="logout()" data-toggle="collapse"
                data-target="#navbarSupportedContent">Logout <i class="fas fa-sign-out-alt"></i></button>
        </div>


    </div>



</nav>